@import "../../../node_modules/@guillotinaweb/pastanaga-angular/lib/styles/common-reset";
$font-path: "../../../node_modules/@guillotinaweb/pastanaga-angular/lib/assets/fonts";
@import "../../../node_modules/@guillotinaweb/pastanaga-angular/lib/styles/fonts";
