<h2>{{ (context | async).title }}</h2>
<pa-button traverseTo="./@@contests">View contests</pa-button>
<pa-expand [openOnInit]="true">
    <expand-title>Players</expand-title>
    <pa-badge *ngFor="let player of (children | async)" [traverseTo]="player['@id'] + '/@@edit'">{{player.title}}</pa-badge>
</pa-expand>
<pa-expand>
    <expand-title>Add player</expand-title>
    <pa-input [(value)]="newPlayer">New player</pa-input>
    <pa-button (click)="addPlayer()" size="small" border icon="add"></pa-button>
</pa-expand>