.row {
    height: 20px;
    div {
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: grey;
        &.fill {
            background-color: pink;
        }
    }
}